<div class="container">
  <div class="row py-3 justify-content-end align-items-center">
    <div class="col-4">
      <h1 class="site-header text-center"><a href="{{ relref . "/" }}">Epimeles</a></h1>

      <p class="lead text-center">the Pence family cookbook</p>
    </div>

    <div class="col-4 text-right">
      <a class="btn btn-primary" href="{{ relref . "/pages/search.html" }}" role="button">Search</a>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      {{ partial "nav" . }}
    </div>
  </div>
